@import "tailwindcss";

html{
  scroll-behavior: smooth;
  
}


.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 72rem;
  }
}


.img-box{
  background-color: rgb(63 63 70);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section{
  padding-top: 5rem;
}

@media (min-width: 1024px) {
  .section {
    padding-top: 8rem;
  }
}

.headline-1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .headline-1 {
    font-size: 55px;
    line-height: 1.15;
  }
}

.headline-1,
.headline-2 {
  max-width: max-content;
  background: -webkit-radial-gradient(0deg #fafafa, #a1a1aa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.headline-2 {
  font-size: 1.875rem;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .headline-2 {
    font-size: 2.25rem;
    line-height: 1.1;
  }
}

.btn {
  max-width: max-content;
  height: 2.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  box-shadow: inset 0 0 0 1px rgb(250 250 250 / 0.05);
  transition: background-color 150ms;
}

.btn .material-symbols-rounded{
  font-size: 18px;
}

.btn:has( .material-symbols-rounded) {
  padding-right: 0.75rem;
}

.btn-primary{
  height: 2.75rem;
  background-color: rgb(56 189 248);
  color: rgb(24 24 27);
}

.btn-primary:hover {
  background-color: rgb(125 211 252);
}

.btn-primary:active {
  background-color: rgb(56 189 248);
}

.btn-outline {
  height: 2.75rem;
  background-color: rgb(39 39 42);
}

.btn-outline:hover {
  background-color: rgb(63 63 70);
}

.btn-outline:active {
  background-color: rgb(39 39 42);
}